*{
  margin: 0;
  padding: 0;
}
/* remove any designs that the browser applies to start on a blank slate*/

body{
  font-family: "Poppins", "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 700;
  overflow: auto;
}

header{
  min-height: 100vh;
  background-image: url("images/treeSunset.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  width: 100%;
} /*make sure content occupies entire screen + background, allows page to be scrollable*/

nav{
  background-color: white;
  box-shadow: 3px 3px 5px rgba(0,0, 0, 0.1); /*gives depth*/
}

nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center; /*align items in list*/
}

nav li{
  height: 50px;
}

nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
} /*changes the colour of the main items in the nav bar*/

nav a:hover{
  background-color: lightgray;
} /*changes button colour when hovered over*/

nav li:first-child{
  margin-right: auto;
} /*Moves the logo to the left*/

.sidebar{
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width:250px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
} /*hides sidebar from view, as well as place it on top at all times*/

.sidebar li{
  width: 100%;
}

.sidebar a{
  width: 100%;
}

.menu-button{
  display: none;
} /*hides hamburger menu on desktop*/

#motto{
  position: absolute;
  left: 22%;
  margin-top: 255px;
  margin-left: -60px;
  height: auto;
  background-color: rgba(76, 115, 39, 0.5);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(0,0, 0, 0.1);
  padding: 70px;
  display: inline-block;
  color: rgb(255, 247, 240);
}

#donate-button{
  position: absolute;
  left: 55%;
  margin-top: 395px;
  margin-left: -60px;
  height: auto;
  background-color: rgba(147, 242, 106, 0.7);
  backdrop-filter: blur(10px);
  box-shadow: -10px 0 10px rgba(9, 54, 4, 0.5);
  padding: 18px;
  padding-left: 32px;
  padding-right: 32px;
  display: inline-block;
  color: rgb(255, 247, 240);
  border-radius: 25px;
}

#donate-button:hover{
  background-color: rgba(78, 150, 47, 0.8);
  color: rgb(47, 26, 0);
}

.progress {
  position: relative; /* Keeps it in document flow */
  height: 1000px; 
  width: 100%;
  background-color: rgb(235, 227, 211);
  box-shadow: -10px 0 10px rgba(0,0, 0, 0.5);
  background-size: cover;
  background-position: center;
  z-index: 10; /* Ensure it's above other content */
}

#our-progress{
  position: relative;
  font-size: 50px;
  margin-top: -380px;
  margin-left: 580px;
  display: flex;
}

#tree-planting-img{
  height: 200px;
  width: 200px;
  margin-top: 250px;
  margin-left: 200px;
  position: relative;
  z-index: 2;
}

#globe-img{
  height: 200px;
  width: 200px;
  margin-top: 200px;
  margin-left: 260px;
  position: relative;
  z-index: 2;
}

#volunteer-img{
  height: 200px;
  width: 200px;
  margin-top: 250px;
  margin-left: 260px;
  position: relative;
  z-index: 2;
}

#trees-planted{
  position: absolute;
  margin-left: 120px;
  margin-top: 80px;
  font-size: 30px;
  background-color: rgb(189, 174, 150);
  padding: 18px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 450px;
  z-index: 1;
  display: flex;
}

#continents{
  position: absolute;
  margin-left: 600px;
  margin-top: 80px;
  font-size: 30px;
  background-color: rgb(189, 174, 150);
  padding: 18px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 450px;
  z-index: 1;
  display: flex;
}

#volunteers{
  position: absolute;
  margin-left: 1060px;
  margin-top: 80px;
  font-size: 30px;
  background-color: rgb(189, 174, 150);
  padding: 18px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 450px;
  z-index: 1;
  display: flex;
}

#project-button{
  position: absolute;
  left: 43%;
  margin-top: 705px;
  margin-left: -60px;
  height: auto;
  background-color: rgb(111, 99, 80);
  padding: 18px;
  font-size: 30px;
  padding-left: 32px;
  padding-right: 32px;
  display: inline-block;
  color: rgb(255, 247, 240);
  border-radius: 25px; /*round corners*/
  display: flex;
}

#tree-counter{
  font-size: 50px;
  font-weight: bold;
  color: #41ab46;
  margin-left: 230px;
  margin-top: 420px;
  position: relative;
  z-index: 3;
  display: flex;
}

#project-button:hover{
  background-color: rgb(73, 107, 58);
  color: rgb(151, 173, 108);
}

#continent-num{
  font-size: 50px;
  font-weight: bold;
  color: #41ab46;
  margin-left: 750px;
  margin-top: -65px;
  position: relative;
  z-index: 3;
  display: flex;
}

#volunteer-num{
  font-size: 50px;
  font-weight: bold;
  color: #41ab46;
  margin-left: 1160px;
  margin-top: -55px;
  position: relative;
  z-index: 3;
  display: flex;
}



@media(max-width: 825px){
  .hideOnMobile{
    display: none;
  }
  .menu-button{
    display: block;
  }
  .donate-button{
    margin-top: 450px;
  }
} /*hideOnMobile hides things when the screen size is <800px*/
/*shows ham menu button*/

@media(max-width: 488px){
  .sidebar{
    width: 100%
  }
  .donate-button{
    margin-top: 500px;
  }
}

@media(max-width: 394px){
  .donate-button{ /*moves donate button down*/
    margin-top: 550px;
  }
}

@media(max-width: 1433px){
  #our-progress{
    position: relative;
    font-size: 50px;
    margin-top: -360px;
    margin-left: 490px;
    display: flex;
  }
  #volunteers{
    position: absolute;
    margin-left: 200px;
    margin-top: 200px;
    font-size: 30px;
    background-color: rgb(189, 174, 150);
    padding: 18px;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 450px;
    z-index: 1;
    display: flex;
  }
}  
